.todoItem {
    width: 100%;
    background: linear-gradient(to right, #6A00FF, #a64aff);
    color: #ffb1ff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.todoItem__text {
    width: 80%;
    margin: 0 0.4rem;
    font-size: 1rem;
    font-weight: 500;
}

.todoItem__text--checked {
    text-decoration: line-through;
}

.todoItem__checkbox {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #ffb1ff;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 0;
    transition: 0.35s;
}

.todoItem__checkbox:hover {
    background-color: #e698e6;
}

.todoItem__checkbox--checked {
    background-image: url(./assets/FaCheck.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.9rem;
}


.todoItem__btnDelete {
    background-color: #6A00FF;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0.3rem;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.35s;
}

.todoItem__btnDelete:hover {
    background-color: #5906ce;
}

.todoItem__btnImage {
    width: 0.9rem;
    height: 0.9rem;
}


@media (min-width: 1024px) {
    .todoItem {
        width: 48%;
        box-sizing: border-box;
    }
}
